.sidebar {
  min-width: 260px;
  max-width: 260px;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  direction: ltr;
  background: #ffffff;
  border-radius: 50px !important;
}

.black_arrow:after {
  border-bottom: solid #000000 !important;
  border-right: solid #000000 !important;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  margin-left: 8px;
}

body[data-theme=colored] .sidebar {
  background: #2d6bcf
}

body[data-theme=dark] .sidebar {
  background: #293042
}

body[data-theme=light] .sidebar {
  background: #fff
}

.sidebar-content {
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  background: #ffffff
}

body[data-theme=colored] .sidebar-content {
  background: #2d6bcf
}

body[data-theme=dark] .sidebar-content {
  background: #293042
}

body[data-theme=light] .sidebar-content {
  background: #fff
}

body[data-sidebar-behavior=sticky] .sidebar-content[data-simplebar] {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0
}

.sidebar-nav {
  padding-left: 0;
  list-style: none
}

.sidebar-link,
a.sidebar-link {
  display: block;
  padding: .625rem 1.625rem;
  font-weight: 400;
  transition: color 75ms ease-in-out;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #5F5F5F;
}

.sidebar-item .active{  
  border-right: 4px solid var(--primary-color);
  height: 27px;
  margin: 10px 0;
  align-items: center;
  display: flex;
  color: var(--primary-color) !important;
}
.sidebar-item .active i {
  border-right: 4px solid var(--primary-color);
  height: 27px;
  margin-left: 2px;
  align-items: center;
  display: flex;
  color: var(--primary-color) !important;
}

body[data-theme=colored] .sidebar-link,
body[data-theme=colored] a.sidebar-link {
  color: rgba(248, 249, 250, .7)
}

body[data-theme=dark] .sidebar-link,
body[data-theme=dark] a.sidebar-link {
  color: rgba(233, 236, 239, .5)
}

body[data-theme=light] .sidebar-link,
body[data-theme=light] a.sidebar-link {
  color: #495057
}

.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
  margin-right: .75rem;
  color: rgb(104 104 104);
}

body[data-theme=colored] .sidebar-link i,
body[data-theme=colored] .sidebar-link svg,
body[data-theme=colored] a.sidebar-link i,
body[data-theme=colored] a.sidebar-link svg {
  color: rgba(248, 249, 250, .5)
}

body[data-theme=dark] .sidebar-link i,
body[data-theme=dark] .sidebar-link svg,
body[data-theme=dark] a.sidebar-link i,
body[data-theme=dark] a.sidebar-link svg {
  color: rgba(233, 236, 239, .5)
}

body[data-theme=light] .sidebar-link i,
body[data-theme=light] .sidebar-link svg,
body[data-theme=light] a.sidebar-link i,
body[data-theme=light] a.sidebar-link svg {
  color: #495057
}

.sidebar-dropdown .sidebar-dropdown .sidebar-link {
  padding: .55rem 1.5rem .55rem 4.5rem
}

.sidebar-dropdown .sidebar-dropdown .sidebar-dropdown .sidebar-link {
  padding: .55rem 1.5rem .55rem 5.75rem
}

.sidebar-link:focus {
  outline: 0
}

.sidebar-link:hover {
  color: var(--primary-color)
}

body[data-theme=colored] .sidebar-link:hover {
  color: var(--primary-color)
}

body[data-theme=dark] .sidebar-link:hover {
  color: var(--primary-color)
}

body[data-theme=light] .sidebar-link:hover {
  color: var(--primary-color)
}

.sidebar-link:hover i,
.sidebar-link:hover svg {
  color: var(--primary-color)
}

body[data-theme=colored] .sidebar-link:hover i,
body[data-theme=colored] .sidebar-link:hover svg {
  color: var(--primary-color)
}

body[data-theme=dark] .sidebar-link:hover i,
body[data-theme=dark] .sidebar-link:hover svg {
  color: var(--primary-color)
}

body[data-theme=light] .sidebar-link:hover i,
body[data-theme=light] .sidebar-link:hover svg {
  color: var(--primary-color)
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
  color: #e9ecef
}

body[data-theme=colored] .sidebar-item.active .sidebar-link:hover,
body[data-theme=colored] .sidebar-item.active>.sidebar-link {
  color: #f8f9fa
}

body[data-theme=dark] .sidebar-item.active .sidebar-link:hover,
body[data-theme=dark] .sidebar-item.active>.sidebar-link {
  color: #e9ecef
}

body[data-theme=light] .sidebar-item.active .sidebar-link:hover,
body[data-theme=light] .sidebar-item.active>.sidebar-link {
  color: #568fed
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active>.sidebar-link i,
.sidebar-item.active>.sidebar-link svg {
  color: #e9ecef
}

body[data-theme=colored] .sidebar-item.active .sidebar-link:hover i,
body[data-theme=colored] .sidebar-item.active .sidebar-link:hover svg,
body[data-theme=colored] .sidebar-item.active>.sidebar-link i,
body[data-theme=colored] .sidebar-item.active>.sidebar-link svg {
  color: #f8f9fa
}

body[data-theme=dark] .sidebar-item.active .sidebar-link:hover i,
body[data-theme=dark] .sidebar-item.active .sidebar-link:hover svg,
body[data-theme=dark] .sidebar-item.active>.sidebar-link i,
body[data-theme=dark] .sidebar-item.active>.sidebar-link svg {
  color: #e9ecef
}

body[data-theme=light] .sidebar-item.active .sidebar-link:hover i,
body[data-theme=light] .sidebar-item.active .sidebar-link:hover svg,
body[data-theme=light] .sidebar-item.active>.sidebar-link i,
body[data-theme=light] .sidebar-item.active>.sidebar-link svg {
  color: #568fed
}

.sidebar-dropdown .sidebar-link {
  padding: .55rem 1.5rem .55rem 3.7rem;
  font-weight: 400;
  color: #5F5F5F;
}

body[data-theme=colored] .sidebar-dropdown .sidebar-link {
  color: #ced4da
}

body[data-theme=dark] .sidebar-dropdown .sidebar-link {
  color: #adb5bd
}

body[data-theme=light] .sidebar-dropdown .sidebar-link {
  color: #6c757d
}

.sidebar-dropdown .sidebar-item .sidebar-link:hover {
  font-weight: 400;
  color: var(--primary-color)
}

body[data-theme=colored] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
  color: var(--primary-color)
}

body[data-theme=dark] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
  color: var(--primary-color)
}

body[data-theme=light] .sidebar-dropdown .sidebar-item .sidebar-link:hover {
  color: #568fed
}

.sidebar-dropdown .sidebar-item.active .sidebar-link {
  font-weight: 400;
  color: #568fed
}

body[data-theme=colored] .sidebar-dropdown .sidebar-item.active .sidebar-link {
  color: #fff
}

body[data-theme=dark] .sidebar-dropdown .sidebar-item.active .sidebar-link,
body[data-theme=light] .sidebar-dropdown .sidebar-item.active .sidebar-link {
  color: #568fed
}

.sidebar [data-bs-toggle=collapse] {
  position: relative
}

.sidebar [data-bs-toggle=collapse]:before {
  content: " ";
  border: solid;
  border-width: 0 .1rem .1rem 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  transition: all .2s ease-out
}

.sidebar [aria-expanded=true]:before,
.sidebar [data-bs-toggle=collapse]:not(.collapsed):before {
  transform: rotate(-135deg);
  top: 1.2rem
}

.sidebar .sidebar-dropdown [data-toggle=collapse]:before {
  top: 1rem
}

.sidebar .sidebar-dropdown [aria-expanded=true]:before,
.sidebar .sidebar-dropdown [data-toggle=collapse]:not(.collapsed):before {
  top: 1.2rem
}

.sidebar-brand {
  font-weight: 500;
  font-size: 1.125rem;
  padding: 1.15rem 1.5rem;
  display: block;
  text-align: center;
  color: #fff
}

body[data-theme=colored] .sidebar-brand,
body[data-theme=dark] .sidebar-brand {
  color: #fff
}

body[data-theme=light] .sidebar-brand {
  color: #424242
}

.sidebar-brand:hover {
  text-decoration: none;
  color: #fff
}

body[data-theme=colored] .sidebar-brand:hover,
body[data-theme=dark] .sidebar-brand:hover {
  color: #fff
}

body[data-theme=light] .sidebar-brand:hover {
  color: #424242
}

.sidebar-brand:focus {
  outline: 0
}

.sidebar-brand svg {
  fill: #4a88eb;
  height: 24px;
  width: 24px;
  margin-right: .15rem
}

body[data-theme=colored] .sidebar-brand svg {
  fill: #fff
}

body[data-theme=dark] .sidebar-brand svg {
  fill: #4a88eb
}

body[data-theme=light] .sidebar-brand svg {
  fill: #2871e7
}

.sidebar-brand svg path:first-child {
  fill: #78a6f0
}

body[data-theme=colored] .sidebar-brand svg path:first-child {
  fill: hsla(0, 0%, 100%, .66)
}

body[data-theme=dark] .sidebar-brand svg path:first-child {
  fill: #78a6f0
}

body[data-theme=light] .sidebar-brand svg path:first-child {
  fill: #84aef2
}

.sidebar-toggle {
  cursor: pointer;
  width: 26px;
  height: 26px;
  display: flex
}

.sidebar-header {
  background: transparent;
  padding: 1.5rem 1.5rem .375rem;
  font-size: .75rem;
  color: #ced4da
}

body[data-theme=colored] .sidebar-header,
body[data-theme=dark] .sidebar-header {
  color: #ced4da
}

body[data-theme=light] .sidebar-header {
  color: #495057
}

.badge-sidebar-primary,
.badge-sidebar-secondary {
  position: absolute;
  right: 20px;
  top: 12px
}

.sidebar-dropdown .badge-sidebar-primary,
.sidebar-dropdown .badge-sidebar-secondary {
  top: 10px
}

.badge-sidebar-primary {
  background: #3f80ea;
  color: #fff
}

body[data-theme=colored] .badge-sidebar-primary {
  background: #fff
}

body[data-theme=dark] .badge-sidebar-primary,
body[data-theme=light] .badge-sidebar-primary {
  background: #3f80ea
}

body[data-theme=colored] .badge-sidebar-primary {
  color: #293042
}

body[data-theme=dark] .badge-sidebar-primary,
body[data-theme=light] .badge-sidebar-primary {
  color: #fff
}

.badge-sidebar-secondary {
  background: #6c757d;
  color: #fff
}

body[data-theme=colored] .badge-sidebar-secondary {
  background: hsla(0, 0%, 100%, .75)
}

body[data-theme=dark] .badge-sidebar-secondary,
body[data-theme=light] .badge-sidebar-secondary {
  background: #6c757d
}

body[data-theme=colored] .badge-sidebar-secondary {
  color: #293042
}

body[data-theme=dark] .badge-sidebar-secondary,
body[data-theme=light] .badge-sidebar-secondary {
  color: #fff
}

body:not([data-sidebar-position=right]) .sidebar.collapsed {
  margin-left: -260px
}

@media (min-width: 1px) and (max-width:991.98px) {
  body:not([data-sidebar-position=right]) .sidebar {
    margin-left: -260px
  }

  body:not([data-sidebar-position=right]) .sidebar.collapsed {
    margin-left: 0
  }
}

body:not([data-sidebar-position=right]) .sidebar-toggle {
  margin-right: 1rem
}

body[data-sidebar-position=right] .sidebar.collapsed {
  margin-right: -260px
}

@media (min-width: 1px) and (max-width:991.98px) {
  body[data-sidebar-position=right] .sidebar {
    margin-right: -260px
  }

  body[data-sidebar-position=right] .sidebar.collapsed {
    margin-right: 0
  }
}

body[data-sidebar-position=right] .sidebar-toggle {
  margin-left: 1rem
}

body[data-sidebar-position=right] .simplebar-track.simplebar-vertical {
  left: 0;
  right: auto
}

.sidebar-cta-content {
  padding: 1.5rem;
  margin: 1.75rem;
  border-radius: .3rem;
  background: #333b52
}

body[data-theme=colored] .sidebar-cta-content {
  background: #3873d4
}

body[data-theme=dark] .sidebar-cta-content {
  background: #333b52
}

body[data-theme=light] .sidebar-cta-content {
  background: #f7f7f7
}

.sidebar-cta-content,
.sidebar-cta-content strong,
body[data-theme=colored] .sidebar-cta-content,
body[data-theme=colored] .sidebar-cta-content strong,
body[data-theme=dark] .sidebar-cta-content,
body[data-theme=dark] .sidebar-cta-content strong {
  color: #e9ecef
}

body[data-theme=light] .sidebar-cta-content,
body[data-theme=light] .sidebar-cta-content strong {
  color: #020202
}

body[data-sidebar-behavior=compact] .sidebar-badge,
body[data-sidebar-behavior=compact] .sidebar-brand span,
body[data-sidebar-behavior=compact] .sidebar-cta,
body[data-sidebar-behavior=compact] .sidebar-header,
body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item .sidebar-link span,
body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown,
body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-link:before {
  display: none
}

body[data-sidebar-behavior=compact] .simplebar-horizontal,
body[data-sidebar-behavior=compact] .simplebar-vertical {
  visibility: hidden !important
}

body[data-sidebar-behavior=compact] .simplebar-content-wrapper,
body[data-sidebar-behavior=compact] .simplebar-height-auto-observer-wrapper,
body[data-sidebar-behavior=compact] .simplebar-mask,
body[data-sidebar-behavior=compact] .simplebar-wrapper {
  overflow: visible !important
}

body[data-sidebar-behavior=compact] .sidebar-dropdown.collapsing {
  transition: none;
  overflow: visible;
  height: auto
}

body[data-sidebar-behavior=compact] .sidebar {
  min-width: 68px;
  max-width: 68px;
  z-index: 2
}

body[data-sidebar-behavior=compact] .sidebar-item {
  position: relative
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown {
  display: none;
  overflow: visible;
  position: absolute;
  z-index: 1;
  width: 220px;
  box-shadow: 0 .5rem 3rem .5rem rgba(0, 0, 0, .05);
  border-radius: .3rem;
  background: #fff;
  padding: .5rem 0;
  top: 0
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown:before {
  content: "";
  position: absolute;
  top: 0;
  width: 16px;
  height: 100%
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-link {
  padding: .5rem 1.5rem;
  color: #6c757d
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-item.active .sidebar-link,
body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-item.active .sidebar-link:hover,
body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown>.sidebar-item .sidebar-link:hover {
  color: #568fed
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown .sidebar-dropdown .sidebar-link {
  padding: .5rem 1.5rem .5rem 2.5rem
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item>.sidebar-dropdown .sidebar-dropdown .sidebar-dropdown .sidebar-link {
  padding: .5rem 1.5rem .5rem 3.5rem
}

body[data-sidebar-behavior=compact] .sidebar .sidebar-dropdown [data-bs-toggle=collapse]:before {
  top: .9rem
}

body[data-sidebar-behavior=compact] .sidebar .sidebar-dropdown [aria-expanded=true]:before,
body[data-sidebar-behavior=compact] .sidebar .sidebar-dropdown [data-bs-toggle=collapse]:not(.collapsed):before {
  top: 1.1rem
}

body[data-sidebar-behavior=compact] .sidebar-nav>.sidebar-item:hover>.sidebar-dropdown {
  display: block
}

body[data-sidebar-behavior=compact]:not([data-sidebar-position=right]) .sidebar-nav>.sidebar-item>.sidebar-dropdown {
  left: 80px
}

body[data-sidebar-behavior=compact]:not([data-sidebar-position=right]) .sidebar-nav>.sidebar-item>.sidebar-dropdown:before {
  left: -16px
}

body[data-sidebar-behavior=compact]:not([data-sidebar-position=right]) .sidebar.collapsed {
  margin-left: -68px
}

@media (min-width: 1px) and (max-width:991.98px) {
  body[data-sidebar-behavior=compact]:not([data-sidebar-position=right]) .sidebar {
    margin-left: -68px
  }

  body[data-sidebar-behavior=compact]:not([data-sidebar-position=right]) .sidebar.collapsed {
    margin-left: 0
  }
}

body[data-sidebar-behavior=compact][data-sidebar-position=right] .sidebar-nav>.sidebar-item>.sidebar-dropdown {
  right: 80px
}

body[data-sidebar-behavior=compact][data-sidebar-position=right] .sidebar-nav>.sidebar-item>.sidebar-dropdown:before {
  right: -16px
}

body[data-sidebar-behavior=compact][data-sidebar-position=right] .sidebar.collapsed {
  margin-right: -68px
}

@media (min-width: 1px) and (max-width:991.98px) {
  body[data-sidebar-behavior=compact][data-sidebar-position=right] .sidebar {
    margin-right: -68px
  }

  body[data-sidebar-behavior=compact][data-sidebar-position=right] .sidebar.collapsed {
    margin-right: 0
  }
}


.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%
}

body[data-layout=boxed] .wrapper {
  max-width: 1800px;
  margin: 0 auto;
  border-left: 1px solid #dee6ed;
  border-right: 1px solid #dee6ed;
  overflow: hidden
}

@media (min-width: 1440px) {
  body[data-layout=boxed] .wrapper {
    width: 90vw
  }
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit
}

.simplebar-mask {
  direction: inherit;
  overflow: hidden;
  width: auto !important;
  height: auto !important;
  z-index: 0
}

.simplebar-mask,
.simplebar-offset {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  -webkit-overflow-scrolling: touch;
  background: #ECECEC;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: #fff;
  border-radius: 0 23px 23px 0;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0
}

.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  z-index: -1
}

.simplebar-height-auto-observer,
.simplebar-track {
  position: absolute;
  overflow: hidden;
  pointer-events: none
}

.simplebar-track {
  z-index: 1;
  right: 0;
  bottom: 0
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px
}