:root {
    --primary-color: #F15A22;
    --secondary-color: #00529C;
    --btn1-color: #F15A22;
    --btn1-hover: #00529C;
    --btn2-color: #5F5F5F;
    --btn2-hover: #313131;
    --btn3-color: #037E00;
    --btn3-hover: #313131;
    --btn4-color: #2F71E0;
    --btn4-hover: #313131;
    --font-size: 16px;
    --a-hover: #F15A22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    color: #2F5398;
    text-decoration: none;
}

a:hover {
    color: var(--btn1-color);
    text-decoration: none;
}
h5{
    color: #1C326C;
}


.btn1 {
    background: var(--btn1-color);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
}

.btn1:hover {
    background: var(--btn1-hover);
    color: #ffffff;
}

.btn2 {
    background: var(--btn2-color);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
}

.btn2:hover {
    background: var(--btn2-hover);
    color: #ffffff;
}

.btn3 {
    background: var(--btn3-color);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
}

.btn3:hover {
    background: var(--btn3-hover);
    color: #ffffff;
}

.btn4 {
    background: var(--btn4-color);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
}

.btn4:hover {
    background: var(--btn4-hover);
    color: #ffffff;
}

/* ============================================= */
.table-responsive {
    border: 2px solid #bfbfbf;
    padding: 0;
    border-radius: 11px;
}

.table.table-hover {
    margin: 0;
}

.custom-select {
    background-color: #f0f2f5;
    border: 1px solid #d1d3d6;
    border-radius: 10px;
    /* padding: 8px; */
    height: 38px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
}

/* ==============Login page================ */
.login_name {
    background: var(--primary-color);
    color: #FFFFFF;
    border-radius: 50%;
    padding: 3px 10px;
    font-size: 20px;
    font-weight: 700;
}
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_section .login-form {
    background-color: white;
    padding: 10px 10px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.login_section .form-group {
    margin-bottom: 1rem;
}

.login_section .footer_copy_right {
    justify-content: center;
    display: flex;
    align-items: end;
    height: 130px;
}

.login_section .footer-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #8B8B8B;
}

.login_section h3 {
    font-size: 40px;
    font-weight: 400;
}

.login_section input[type] {
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px solid #D5E8FA;
    background: #F5F7F9;
}

.login_section .custom-select {
    border-radius: 16px;
    border: 1px solid #D5E8FA;
    background-color: #F5F7F9;
    border-radius: 16px;
    padding: 10px 20px;
    height: 42px;
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}

.login_section .custom-input {
    border: 1px solid #D5E8FA !important;
    background-color: #F5F7F9 !important;
}

.login_section {
    background: #c1cde0;
}

.login_section .login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}


/* ==============dashboard Screen page================ */

.navbar-expand {
    border-bottom: 2px solid #fff;
}

.main {
    background: #ECECEC !important;
}

.center_clsss {
    align-items: center;
    display: contents;
}

.dropdown-toggle:after {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    margin-left: 8px;
}

.bi-gear::before {
    content: "\f3e5";
    font-size: 31px;
    color: var(--primary-color);
}

.dropdown-menu {
    padding: 20px 15px;
    border-radius: 20px;
}

.dropdown-item {
    border-bottom: 1px solid #a3a3a3 !important
}

.border-0 {
    border-bottom: unset !important
}

.bi-list::before {
    content: "\f479";
    font-size: 40px;
    color: #000;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--primary-color);
    text-decoration: none;
    background-color: unset
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--primary-color);
    background-color: unset
}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    flex-direction: column;
}

.content {
    padding: 1.5rem 2.5rem 1.5rem;
    flex: 1;
    direction: ltr;
    background: #ECECEC;
}



/* ==============Landing-Screen page================ */
.landing_screen_section {
    background: #c1cde0;
}

.landing_screen_section .hight_class {
    padding: 50px 0 150px 0;
}


.card_section .card_set_class {
    margin-top: -123px;
}

.card_section a {
    color: #1c1d1e;
    text-decoration: none;
}

.card_section .cards {
    transition: .8s;
}

.card_section .cards:hover {
    transform: translateY(-5%);
    transition: .8s;
    background: #fff1ec;
    padding: 12px;
    border-radius: 19px;
}

.card_section .rounded {
    border-radius: 52px !important;
}

.card_section .shadow-lg {
    box-shadow: 0 0rem 2rem rgb(0 0 0 / 54%) !important;
}

/* =================== cafeteria management ========================= */
.cafeteria_cards img {
    background: #ffffff;
    padding: 10px 25px;
    border-radius: 20px;
}

.cafeteria_cards {
    transition: .8s;
    padding: 15px;
    margin: 0 30px;
}

.cafeteria_cards:hover {
    transition: .8s;
    padding: 15px;
    background: rgb(255, 255, 255);
    margin: 0 30px;
    border-radius: 20px;
}

.cafeteria_cards:hover img {
    transition: .8s;
    background: #ECECEC;
}

.cafeteria_cards h5 {
    color: #1c1d1e;
    font-size: 18px;
}

.cafeteria_cards:hover h5 {
    color: var(--secondary-color);
    font-weight: 600;
}

/* ===========cafeteria-menu================= */
.cafeteria-menu_section .nav-tabs .nav-link.active {
    border-radius: 20px 20px 0 0;
    background: #fff;
}

.cafeteria-menu_section .nav.nav-tabs {
    border-bottom: 2px solid #fff;
}

.cafeteria-menu_section .nav-item button {
    color: #333333;
    font-size: 18px;
}

.cafeteria-menu_section .nav-item .active {
    color: var(--secondary-color);
}

.cafeteria-menu_section .nav-item img {
    filter: grayscale(100%);
}

.cafeteria-menu_section .nav-item .active img {
    filter: unset
}

.cafeteria-menu_section .button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 47px;
}

.cafeteria-menu_section .button-container i {
    font-size: 30px;
    color: #519032;
}

.cafeteria-menu_section .button-container .bi-plus::before,
.bi-dash::before {
    font-weight: 800 !important;
}

.cafeteria-menu_section h5 {
    font-size: 22px;
}

.cafeteria-menu_section table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}

.cafeteria-menu_section th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.cafeteria-menu_section th {
    background-color: #ffffff;
    font-weight: bold;
}

.cafeteria-menu_section td {
    background-color: #fff;
    border-top: unset;
    border-bottom: unset;
}

.cafeteria-menu_section .section-heading {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
}

/* Merge cells using colspan */
.cafeteria-menu_section .colspan-5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--secondary-color);
    background: #ececec;
    border: 0;
}

.cafeteria-menu_section .meal-heading {
    font-weight: bold;
    background-color: #eaeaea;
}

.cafeteria-menu_section .meal-item {
    text-align: left;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 18px;
}

/* Apply border-radius to the first and last td in each row */
.cafeteria-menu_section td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
}

.cafeteria-menu_section td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
}

/* Remove border radius for first and last td in the header */
.cafeteria-menu_section th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
}

.cafeteria-menu_section th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
}

/* ====================my-booking section============================= */
.my_booking_section .filter-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #ececec;
    margin-bottom: 20px;
}

.my_booking_section .filter-group {
    display: flex;
    align-items: center;
}

.my_booking_section .filter-group:last-child {
    margin-right: 0;
}

.my_booking_section label {
    margin-bottom: 5px;
    font-weight: bold;
}

.my_booking_section input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
}

.my_booking_section .search-button {
    padding: 12px 24px;
    background-color: var(--btn3-color);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.my_booking_section .search-button:hover {
    background-color: var(--btn3-hover)
}

.my_booking_section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.my_booking_section th,
.my_booking_section td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.my_booking_section th {
    background-color: #0056b3;
    color: white;
    border: unset;
}

.my_booking_section td {
    background-color: #fff;
    border: unset;
}

.my_booking_section .status-active {
    color: green;
    font-weight: bold;
}

.my_booking_section .status-delivered {
    color: #6c757d;
    font-weight: bold;
}

.my_booking_section .btn-view {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.my_booking_section .btn-view:hover {
    background-color: #0056b3;
}

/* Rounded corners for the table */
.my_booking_section th:first-child {
    border-top-left-radius: 10px;
}

.my_booking_section th:last-child {
    border-top-right-radius: 10px;
}

.my_booking_section td:first-child {
    border-bottom-left-radius: 10px;
}

.my_booking_section td:last-child {
    border-bottom-right-radius: 10px;
}

/* ============= my_cart_section ============== */

.my_cart_section .card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    /* Ensure that cutouts stay inside the card */
    border: 0px;
}

.my_cart_section .card::before,
.my_cart_section .card::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 50%;
    bottom: 0;
}

.my_cart_section .card::before {
    left: -15px;
}

.my_cart_section .card::after {
    right: -15px;
}

.my_cart_section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.my_cart_section thead tr {
    border-bottom: 2px solid #dcd8d8;
}

.my_cart_section th,
.my_cart_section td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
}

.my_cart_section th {
    color: #3e5ea9;
    text-align: left;
    font-weight: bold;
}

.my_cart_section td {
    text-align: left;
    color: #000000;
    border: 0;
}

/* Dashed border and spacing before grand total */
.my_cart_section .dashed-border {
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed #bbb;
    margin: 10px 0;
    position: relative;
    bottom: -10px;
}

.my_cart_section .total {
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: bold;
}

.my_cart_section .total span {
    color: #3e5ea9;
}

.button-container {
    text-align: center;
}

.my_cart_section .book-now-btn {
    background-color: var(--btn3-color);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.my_cart_section .book-now-btn:hover {
    background-color: var(--btn3-hover)
}

.my_cart_section .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #888;
}

.my_cart_section .delete-btn:hover {
    color: red;
}

.my_cart_section .card::before,
.my_cart_section .card::after {
    content: '';
    position: absolute;
    bottom: 68px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ececec;
    border: 0;
}

.my_cart_section .card::before {
    left: -15px;
}

.my_cart_section .card::after {
    right: -15px;
}

/* ================.cafeteria_order_food_section================== */

.cafeteria_order_food_section .custom-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.cafeteria_order_food_section .form-title {
    color: #3e5ea9;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.cafeteria_order_food_section .form-label {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    width: 30%;
}


.cafeteria_order_food_section .custom-input {
    background-color: #f0f2f5;
    border: 1px solid #d1d3d6;
    border-radius: 10px;
    padding: .375rem 2.25rem .375rem .75rem;
    height: 38px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
}

.cafeteria_order_food_section .custom-input:focus {
    outline: none;
    border-color: #3e5ea9;
    box-shadow: 0 0 5px rgba(62, 94, 169, 0.3);
}

.cafeteria_order_food_section .form-check-label {
    font-weight: 500;
    color: #4f4f4f;
}

.cafeteria_order_food_section .custom-checkbox {
    margin-right: 8px;
}

.cafeteria_order_food_section .custom-select {
    background-color: #f0f2f5;
    border: 1px solid #d1d3d6;
    border-radius: 10px;
    /* padding: 8px; */
    height: 38px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
}

.cafeteria_order_food_section .custom-select option {
    color: #333;
}

.cafeteria_order_food_section .custom-select:focus {
    outline: none;
    border-color: #d1d3d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.cafeteria_order_food_section .form-label {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}

/* ===================cafeteria_add_menu========================= */

.cafeteria_add_menu .form-container {
    margin: 50px auto;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cafeteria_add_menu .form-section {
    border-top: 1px solid #dee2e6;
    margin-top: 20px;
    padding-top: 20px;
}

.cafeteria_add_menu .time-select {
    width: 37%;
    display: inline-block;
}

.cafeteria_add_menu .center_label {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cafeteria_add_menu .d_contents {
    display: contents;
}


/* =================Add food item================== */

.cafeteria_add_food_item_section .form-label {
    font-weight: 500;
    color: #000;
    width: 50%;
}

.cafeteria_add_food_item_section input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.cafeteria_add_food_item_section .custom-input {
    width: 90%;
}

.cafeteria_add_new-user_section .center_label {
    width: 75%;
    justify-content: start;
}

/* =================Order Data Entry================== */

.cafeteria_order_data_entry_section table {
    table-layout: fixed;
    width: 100%;
}

.cafeteria_order_data_entry_section th,
.cafeteria_order_data_entry_section td {
    text-align: center;
    white-space: nowrap;
}

/* ===========================Meeting - Room=================================== */
.meeting_room .room-card {
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
}

.meeting_room .room-card img {
    width: 100%;
    border-radius: 10px;
}

.meeting_room .time-slot-box {
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.meeting_room .time-slot {
    width: 70px;
    height: 30px;
    background-color: #CAC9C9;
    margin: 0 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
}

.meeting_room .booked {
    background-color: #CAC9C9;
}

.meeting_room .vacant {
    background-color: var(--secondary-color);
    color: white;
}

.meeting_room .legend {
    font-weight: bold;
    color: #6c757d;
}

.meeting_room .toolbar {
    margin-bottom: 20px;
}



.meeting_room h5 {
    color: #1C326C;
}

.meeting_room .time_left {
    background: rgb(31, 37, 205);
    background: linear-gradient(90deg, #00529C 49%, #CAC9C9 49%);
}

.meeting_room .time_right {
    background: rgb(31, 37, 205);
    background: linear-gradient(90deg, #CAC9C9 49%, #00529C 49%);
}

.meeting_room .card_text_center {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 17px 0;
}

.meeting_room h5 span {
    color: var(--primary-color);
}

.meeting_room p {
    color: #000000;
    margin: 10px 0;
}

.align_items_center {
    align-items: center;
}

/* ====================room booing entry============================ */
.meeting_room_booking_entry .form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;

}

.meeting_room_booking_entry .info-box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20%;
}

.meeting_room_booking_entry .info-box h6 {
    font-weight: bold;
    color: #002E6E;
}

.meeting_room_booking_entry .info-box p {
    color: #002E6E;
}

.meeting_room_booking_entry .btn-save {
    background-color: #fd7e14;
    color: white;
    border: none;
}

.meeting_room_booking_entry .btn-cancel {
    background-color: #6c757d;
    color: white;
    border: none;
}

.meeting_room_booking_entry .required::before {
    content: " *";
    color: red;
}

.meeting_room_booking_entry .custom-input {
    background-color: #f0f0f0;
    border: none;
}

/* ============conference_room_booking=============== */
.conference_room_booking .form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.conference_room_booking .table-group-divider {
    border: 0;
}

.conference_room_booking .custom-input {
    background-color: #f0f0f0;
    border: none;
}

.conference_room_booking .grey_row td {
    background-color: #858585;
    color: #ffffff !important;
}

.conference_room_booking .grey_row {
    border: 0 !important;
}

.conference_room_booking td:first-child {
    border-bottom-left-radius: unset;
}

.conference_room_booking td:last-child {
    border-bottom-right-radius: unset;
}

/* ===================Popup modal========================== */
.modal-content {
    border-radius: 15px;
}

.modal-body p {
    color: #002E6E;
}

.modal-body {
    font-size: 14px;
}

.modal-body strong {
    color: #002E6E;
    /* Floor text color */
}

.close-btn {
    --bs-btn-close-bg: unset;
}


.btn-close {
    /* width: 1em; */
    height: unset;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);

}

/* =================================================== */

.nowrap_class table tr,
.nowrap_class table td {
    font-size: 16px;
    text-wrap: nowrap;
    text-align: start;
}


@media (min-width:1440px) {
    body[data-layout=boxed] .wrapper {
        width: 90vw
    }

    .cafeteria_add_menu .center_label,
    .cafeteria_add_menu span {
        font-size: 14px;
    }
}





@media(max-width:1900px) {

    .cafeteria_add_menu .center_label,
    .cafeteria_add_menu span {
        font-size: 16px;
        font-weight: 500;
    }
}

@media(max-width:1300px) {

    .login_section .form-control {
        font-size: 14px;
    }

    .login_section .custom-input {
        font-size: 14px;
    }

    .cafeteria_cards {
        padding: 15px;
        margin: 0 12px;
    }

    .cafeteria_cards:hover {
        padding: 15px;
        margin: 0 12px;
    }

    .cafeteria_cards h5 {
        font-size: 16px;
    }

    .cafeteria_order_food_section .form-label {
        font-size: 0.8rem;
        width: 50%;
        justify-content: flex-start;
    }

    .cafeteria_order_food_section .form-check-label {
        font-weight: 500;
        color: #4f4f4f;
        font-size: 14px;
    }

    .cafeteria_order_food_section .custom-input {
        padding: 10px;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
        padding: .375rem 2.25rem .375rem .75rem;
    }

    .navbar-expand .navbar-nav {
        flex-direction: column;
    }

    .cafeteria_add_menu .center_label,
    .cafeteria_add_menu span {
        font-size: 14px;
    }

    .cafeteria_add_food_item_section .form-label {
        font-size: 0.8rem;
        width: 50%;
        justify-content: flex-start;
    }

    .cafeteria_add_food_item_section .custom-select,
    .cafeteria_add_food_item_section .custom-input {
        border: 1px solid #d1d3d6;
        border-radius: 6px;
        height: 30px;
        color: #9b9b9b;
        font-size: 12px;
        font-weight: 500;
    }

    table tr,
    td {
        font-size: 14px;
        text-wrap: nowrap;
    }

    .meeting_room .filter_section {
        background: #fff;
        padding: 10px 10px;
        border-radius: 15px;
    }

    .meeting_room_booking_entry .form-label {
        font-size: 14px;
    }

    .meeting_room_booking_entry .custom-input {
        background-color: #f0f0f0;
        border: none;
        font-size: 12px;
    }
}

@media(max-width:991px) {

    .navbar {
        background: #fff;
        padding: 20px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 2px 2px #c5c5c5;
    }

    .login_section .form-side {
        height: unset;
        position: unset;
    }

    /* .login_section input[type],
    .login_section .form-select,
    .btn {
        padding: 8px 20px;
        border-radius: 16px;
        border: none;
        font-size: 12px;
    } */

    .login_section p {
        font-size: 13px;
    }

    .center_clsss img {
        width: 89px;
    }


    .cafeteria_cards img {
        background: #ffffff;
        padding: 26px 23px;
        border-radius: 31px;
        box-shadow: 0 0 3px 5px #e6e6e6;
        width: 114px;
    }


    .cafeteria_order_food_section .form-check-label {
        font-size: 12px;
    }

    .cafeteria_order_food_section .custom-input {
        font-size: 12px;
    }

    .cafeteria_add_menu .time-select {
        width: 36%;
    }

    .cafeteria_add_food_item_section .custom-input {
        width: 100%;
    }

    table tr,
    td {
        font-size: 12px;
        text-wrap: nowrap;
    }

    .meeting_room .filter_section {
        background: #fff;
        padding: 10px 10px;
        border-radius: 15px;
    }

    .meeting_room .btn {
        font-size: 14px;
    }
    
.landing_screen_section .hight_class img{
    width: 150px !important ;
}

.landing_screen_section .dropdown-toggle:after {
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    margin-left: 8px;
}
.landing_screen_section  a span{
    color: #000000 !important;
}
span.login_name {
    color: #FFFFFF !important;
}
}


@media (max-width: 768px) {
    .meeting_room .time-slot {
        width: 60px;
        font-size: 12px;
    }

    .meeting_room .btn-book-now {
        width: 100%;
        margin-top: 10px;
    }
}


@media (max-width: 767.98px) {
    .main {
        overflow-y: hidden
    }

    .content {
        width: 100vw;
        max-width: 100vw;
    }

    .dropdown-toggle:after {
        display: none;
    }

    .content {
        padding: 0;
    }

    .cafeteria_cards h5 {
        font-size: 16px;
    }


    .navbar-expand .navbar-nav {
        flex-direction: row;
    }

    .black_arrow:after {
        border-bottom: solid #000000 !important;
        border-right: solid #000000 !important;
    }

    .cafeteria_order_data_entry_section table {
        table-layout: unset;
        width: unset;
    }

    .meeting_room .align_items_center {
        align-items: normal;
    }


}




@media (max-width: 576px) {
    .meeting_room .toolbar {
        flex-direction: column;
    }

    .meeting_room .toolbar select,
    .meeting_room .toolbar input,
    .meeting_room .toolbar .meeting_room .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .meeting_room .room-card img {
        width: 100%;
    }
}